{% extends 'e_commerce_app/base.html' %}
{% load static %}

{% block header %}
  <h2>{{ category.title }}</h2>
{% endblock header %}

{% block content %}
  <div class="row">
    {% for product in products %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{% static 'e_commerce_app/images/placeholder.jpg' %}" alt="Product Image">          <div class="card-body">
            <h5 class="card-title">{{ product.heading }}</h5>
            <p class="card-text">{{ product.text }}</p>
            {% if user.is_staff %}
              <a href="{% url 'e_commerce_app:edit_product' product.id %}" class="btn btn-primary">Edit Product</a>
            {% endif %}
            <form action="{% url 'e_commerce_app:product' product.id %}" method="post" class="mt-2">
              {% csrf_token %}
              <button type="submit" class="btn btn-success">Buy</button>
            </form>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>There are no products for this category yet.</p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}